%div{:id => 'site'}
  %div{:id => 'main'}
    %nav{:id => 'nav'}
      %ul
        %li{'data-bind' => 'css: { selected: "notes" == $root.selectedTab() }'}
          %a{:href => '#/notes'} Notes
        %li{'data-bind' => 'css: { selected: "todos" == $root.selectedTab() }'}
          %a{:href => '#/todos'} Todos
    .nav-site
      .component{:id => 'todos', 'data-bind' => 'visible: todos.visible'}
        %ol{'data-bind' => 'foreach: todos.list'}
          %li{'data-bind' => 'text: content'}
        %input{'data-bind' => 'value: todos.next_todo'}
        %button{'data-bind' => 'click: todos.add_next_todo_to_list'} add todo
      .component{:id => 'notes', 'data-bind' => 'visible: notes.visible'}
        these
        are
        notes

  %div{:id => 'sidebar'}
    %p Welcome to this sample app. This application was built to demonstrate a single-page javascript application.
    %p 
      The client side makes use of:
      %ul
        %li 
          %a{:href => 'http://knockoutjs.com/documentation/introduction.html'} knockout.js
        %li 
          %a{:href => 'http://sammyjs.org/docs'} sammy.js
        %li
          %a{:href => 'https://github.com/cujojs/curl'} curl.js
    %p The server side is a Rails application.
    %p 
      Feel free to try the following things:
      %ul
        %li Use the back button
        %li Use the forward button
        %li Refresh the page
        %li Bookmark the page

:javascript
  curl(
    {
        baseUrl: "/assets",
        paths: {
          "jquery": "jquery-1.7.2",
          "knockout": "knockout-2.1.0.debug"
        }
    },
    
    ["knockout", "application", "router"], function (ko, Application, Router) {
      application = Application();
      ko.applyBindings(application);
      Router(application).run();
    }
  );
