%h1 Index page

%div{:id => 'site'}
  %div{:id => 'main'}
    %nav{:id => 'nav'}
      %ul
        %li
          %a{:href => '#/notes'} Notes
        %li
          %a{:href => '#/todos'} Todos
    .nav-site
      .component{:id => 'todos', 'data-bind' => 'visible: todos.visible'}
        %ol{'data-bind' => 'foreach: todos.list'}
          %li{'data-bind' => 'text: content'}
        %input{'data-bind' => 'value: todos.next_todo'}
        %button{'data-bind' => 'click: todos.add_next_todo_to_list'} add todo
      .component{:id => 'notes', 'data-bind' => 'visible: notes.visible'}
        these
        are
        notes

  %div{:id => 'sidebar'}
    %h3 Sidebar
    sidebar content

:javascript
  curl(
    {
        baseUrl: "/assets",
        paths: {
          "jquery": "jquery-1.7.2",
          "knockout": "knockout-2.1.0.debug"
        }
    },
    
    ["knockout", "application", "router"], function (ko, Application, Router) {
      application = Application();
      ko.applyBindings(application);
      Router(application).run();
    }
  );
